<div class="container">
<h1>Login</h1>

<% if current_page?('/no_user') %>
  <p>You must be logged in to see Places</p>
<% end %>

<%= form_with :url => "/sessions" do |form| %>
  <p>
    <%= form.label "email" %>
    <%= form.text_field "email" %>
    <%= form.label "password" %>
    <%= form.password_field "password" %>
  </p>
  <p>
    <%= form.submit "Login" %>
  </p>
<% end %>
</div>